{template 'common/header'}
<style>
    .clearfix .row{
        margin-left: -15px;
        margin-right: -15px;
    }
</style>
<style>
    .label-red {
        background-color: red;
    }
</style>
{if $operation == 'display'}
<div class="main">
    <div class="panel panel-info">
        <div class="panel-heading">筛选</div>
        <div class="panel-body">
            <form action="./index.php" method="get" class="form-horizontal" role="form">
                <input type="hidden" name="c" value="site" />
                <input type="hidden" name="a" value="entry" />
                <input type="hidden" name="m" value="amouse_wxapp_house" />
                <input type="hidden" name="do" value="orders" />
                <div class="form-group">

                    <label class="col-xs-12 col-sm-2 col-md-2 col-lg-2 control-label" style="width: 100px;">订单状态</label>
                    <div class="col-sm-2 col-lg-2">
                        <select name="status" class="form-control">
                            <option value="" {if !isset($_GPC['status'])||$_GPC['status']==''}selected{/if}>全部</option>
                            <option value="0" {if isset($_GPC['status'])&&$_GPC['status']==0}selected{/if}>待付款</option>
                            <option value="1" {if $_GPC['status']==1}selected{/if}>已付款</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2 col-lg-2">
                        <button class="btn btn-default">
                            <i class="fa fa-search"></i> 搜索</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="panel panel-default">
        <form id="form2" class="form-horizontal" method="post">
            <div class="table-responsive panel-body">
                <table class="table table-hover">
                    <thead class="navbar-inner">
                    <tr>
                        <th style="width:10px;">全选</th>
                        <th>信息</th>
                        <th>订单详情</th>
                        <th>总价</th>
                        <th>状态</th>
                        <th style="text-align:right;">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {loop $list $item}
                    <tr>
                        <td> <input type="checkbox" value="{$item['id']}" name="delete[]">  </td>
                        <td>
                            <label class='label label-primary'>订单号:{$item['ordersn']} </label> <br/>
                            <label class='label label-default'>{$item['openid']}</label> <br/>
                            <label class='label label-info'>下单时间:{php echo date('Y-m-d H:i:s', $item['createtime'])}</label>
                        </td>
                        <td style="text-align:left;">
                            {if $item['paytype']==0}<span class="label label-success">经纪人认证 </span>
                            {elseif $item['paytype']==1}<span class="label label-red">置顶【置顶天数：{$item['top_day']}】</span>
                            {elseif $item['paytype']==2}<span class="label label-red">付费发布</span>
                            {elseif $item['paytype']==3}<span class="label label-red">付费发布/置顶【置顶天数：{$item['top_day']}】</span>
                            {/if}
                        </td>
                        <td>{$item['price']}元</td>
                        <td>
                            {if $item['status'] == 0}<span class="label label-info">已下单</span>
                            {elseif $item['status'] ==1}<span class="label label-success">已付款</span>
                            {/if}
                        </td>
                        <td style="text-align:right;">
                            <a href="{php echo $this->createWebUrl('orders', array('op' => 'detail','id' => $item['id']))}" title="详情" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="top" title="" data-original-title="详情" >
                                <i class="fa fa-eye"></i>
                            </a>
                            <a onclick="return confirm('删除订单无法恢复，确认吗？');return false;"
                               href="{php echo $this->createWebUrl('orders', array('op' => 'delete', 'id' => $item['id']))}" class="btn btn-default btn-sm"> <i class="fa fa-times"></i></a>
                        </td>
                    </tr>
                    {/loop}
                    <tr>
                        <td><input type="checkbox"  onclick="var ck = this.checked;$(':checkbox').each(function(){this.checked = ck});" name=''></td>
                        <td colspan="2">
                            <input name="token" type="hidden" value="{$_W['token']}"/>
                            <input type="submit" class="btn btn-primary" name="submit1" value="批量删除"/>
                        </td>
                    </tr>
                    </tbody>
                </table>
                {$pager}
            </div>
        </form>
    </div>
</div>
{elseif $operation == 'detail'}
<div class="main">
    <form class="form-horizontal form" action="" method="post" enctype="multipart/form-data"  onsubmit="return formcheck(this)">
        <input type="hidden" name="id" value="{$item[id]}">
        <div class="panel panel-default">
            <div class="panel-heading">
                订单信息
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-xs-12 col-sm-4 col-md-3 col-lg-2 control-label">订单号</label>
                    <div class="col-sm-8 col-xs-12">
                        {$item['ordersn']}
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-12 col-sm-4 col-md-3 col-lg-2 control-label">订单类型</label>
                    <div class="col-sm-8 col-xs-12">
                        {if $item['paytype']==0}<span class="label label-success">[经纪人认证]</span>
                        {elseif $item['paytype']==1}<span class="label label-red">[置顶【置顶天数：{$item['top_day']}】]</span>
                        {elseif $item['paytype']==2}<span class="label label-info">[付费发布]</span>
                        {elseif $item['paytype']==3}<span class="label label-info">付费发布/[置顶【置顶天数：{$item['top_day']}】]</span>
                        {/if}
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-12 col-sm-4 col-md-3 col-lg-2 control-label">价钱</label>
                    <div class="col-sm-8 col-xs-12">
                        {$item['price']} 元
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-4 col-md-3 col-lg-2 control-label">订单状态</label>
                    <div class="col-sm-8 col-xs-12">
                        {if $item['status'] == 0}<span class="label label-info">已下单待付款</span>{/if}
                        {if $item['status'] == 1}<span class="label label-info">已付款</span>{/if}
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-12 col-sm-4 col-md-3 col-lg-2 control-label">下单日期</label>
                    <div class="col-sm-8 col-xs-12">
                        {php echo date('Y-m-d H:i:s', $item['createtime'])}
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{/if}